body{

    margin-left: 20px;
}


.product{
    background-color: aliceblue;
    padding: 20px;
    border-radius: 16px;
    display: inline-block;
}

.name{
    background-color: dodgerblue;
    color: rgb(0, 0, 0);
    padding: 5px 15px;
    border-radius: 16px;
}

.category{
    background-color: rgb(111, 214, 21);
    color: black;
    margin-right: 450px;
    padding: 15px 15px ;
    border-radius: 16px;
}